<div class="containerAll">

    <div class="containerText">


        <h2>
            Cadastre <span><u>Clientes</u></span>,<span><u>tarefas</u></span> <br><span><u>O que quiser</u></span> e seja lembrado.
        </h2>
      
            <h3>
                <a [routerLink]="['cadastrar']">Começar</a>
            </h3>
      
    </div>

    <div class="containerImage">
        <img src="../../../assets/images/Checklist-pana.svg" alt="imagem de apresentação" width="300px" height="400px">
    </div>

</div>
