<div *ngIf="showError" class="warning">
    {{ messageError }}
  </div>
<div class="containerAllSign">

    <div class="containerImage">
        <img src="../../../assets/images/2Sign.svg" alt="signUp" width="400px" height="400px">
    </div>
    <div class="containerForm">
        <h2>Informe seus dados para o cadastro</h2>
        <form [formGroup]="userForm" >
        <label for="name">Nome</label> <br>
        <input formControlName="name" required placeholder="Digite seu nome" type="text" id="name"> <br>

        <label for="email">Email</label> <br>
        <input formControlName="email" required placeholder="Digite um email valido" type="email" id="email"> <br>

        <label for="password">Senha</label> <br>
        <input formControlName="password" required minlength="8" maxlength="20" placeholder="senha deve ter entre 8 e 20 caracteres" type="password" id="password"><br>
       
         <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
             <div class="sendDatas">
                <p (click)="registerUser()">Enviar</p>
            </div>
            <a href="#">Já possuo cadastro</a>
         </div>

        </form>

          
    </div>


</div>
