<div *ngIf="showError" class="warning">
  {{ messageError }}
</div>
<div class="containerAll">
  <div *ngIf="!isSend" class="containerTypeEmail">
    <h3>Digite seu email</h3>
      <form [formGroup]="userForm" class="containerTypeEmail">
        <input  formControlName="email" type="email" name="emailUser"  id="emailUser" />
        <div class="sendDatas">
          <p (click)="sendCode()">Enviar código</p>
        </div>
      </form>
    
  </div>

   <div *ngIf="isSend" class="containerConfirmCode">
    <h3>Digite o código enviado para o email informado</h3>

    <form [formGroup]="userForm2" class="containerConfirmCode">
      <input formControlName="text" type="text"  id="codeUser" />
      <div class="sendDatas">
        <p (click)="validateCode()">Confirmar</p>
      </div>
      <a (click)="correctionEmail()">Corrigir email</a>
    </form>
  </div> 
</div>
