
<div class="containerAllMenu" >

<div class="containerTitle">
    <h2><a [routerLink]="['']">Cadastrou</a></h2>
</div>

<span id="Menu" class="material-symbols-outlined" (click)="toggleMenu()" >
    menu
</span>
<div class="containerLinksMenu" id="responsive-menu" >
   <ul>
    <li ><a (click)="linkPageInitial()">início</a></li>
    <li><a href="https://github.com/MarcosViniSil/Cadastrou-FrontEnd" target="_blank">Código</a></li>
    <li><a href="#">Como funciona?</a></li>
    <li *ngIf="showLogin"><div id="divLogin"><a (click)="linkLogin()" id="loginField">Login</a></div></li>
    <li *ngIf="showSignUp"><div id="divSignUp"><a (click)="linkEmail()"id="registerField">Sign up</a></div></li>
   </ul>
</div>

</div>

