
@media (max-width: 640px) {
    #Menu {
        cursor: pointer;
        display: block;
    }

    .containerAllMenu {
        display: flex;
        flex-direction: column;
        background-color: rgb(239, 231, 228);
        padding: 10px;
    
    }

    .containerTitle,
    #Menu,
    #responsive-menu {
        width: 100%;
    }

    .containerTitle,
    #Menu {
        order: 1;
    }

    #responsive-menu {
        order: 3;
    }
    .containerLinksMenu{
        height: 177px;
        z-index: 2;
        
    }
    .containerLinksMenu ul {
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color:rgb(204, 201, 200) ;
   
    }

    .containerLinksMenu ul li {
        margin: 0;
        margin-bottom: 5px;
        width: 100%;
        padding: 7px;
    }
    .divSignUp{
        margin-bottom: 7px;
    }

    .containerLinksMenu {
        display: none;
    }
}
