li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(49, 43, 44);
  cursor: pointer;
}

.containerAllMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 11px;
  background-color: rgb(239, 231, 228);
  height: 80px;
  padding: 0 10px;
}
.containerTitle {
  margin-right: auto;
  padding-left: 5px;
}
.containerLinksMenu {
  margin-left: auto;
}
.containerLinksMenu > ul > li {
  display: inline-block;
  margin-right: 10px;
}

.containerLinksMenu > ul > li > a:hover {
  color: rgb(253, 98, 86);
  transform: translateX(12px);
}
#registerField,#loginField {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 4px;
}
#loginField {
  color:rgb(49, 43, 44);
}
#divSignUp:hover {
  color: black;
  background-color: rgb(253, 98, 86);
}
#divLogin:hover {
  background-color: rgb(253, 98, 86);
}
#divSignUp,#divLogin {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(49, 43, 44);
  width: 100px;
  height: 35px;
}
#divLogin{
  background-color: white;
  color:rgb(49, 43, 44) ;
}

#Menu{
    display:none;
}
.containerLinksMenu,.responsive-menu{
  display: block;
}

