<div class="containerAllHowWork">
    <h2 >Como funciona?</h2>
    <div class="signUp">
        
       <div class="textSignUp">
            <h3 >Se registre na plataforma</h3>
       </div>
       <div class="imageSignUp">
             <img loading="lazy" src="../../../assets/images/Computer login-bro.svg" alt="imagem login" width="300px" height="250px">
       </div>
    </div>

    <div class="registerAnyThing">
        <div class="imageRegisterAny">
            <img loading="lazy" src="../../../assets/images/Add tasks-rafiki.svg" alt="imagem cadastro" width="300px" height="250px">
        </div>
        <div class="textRegisterAny">
            <h3>Cadastre o que quiser</h3>
        </div>
    </div>

    <div class="reciveEmail">
       <div class="textReciveEmail">
        <h3>Seja avisado via email</h3>
       </div>
       <div class="imageReciveEmail">
        <img loading="lazy" src="../../../assets/images/Mail sent-rafiki.svg" alt="imagem email" width="300px" height="250px">
       </div>
    </div>
     <div class="HowWorkStart">
        <h3>
            <a [routerLink]="['email']">Cadastrar</a>
        </h3>
     </div>
     <div></div>
</div>
