@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&family=Nanum+Gothic&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: black; 
  }