<div class="containerAll">
    <div class="containerTitle">
        <h2><a [routerLink]="['']">Cadastrou</a></h2>
    </div>
    <span id="Menu" class="material-symbols-outlined" (click)="toggleMenu()"  >
        menu
    </span>
    <div class="containerLinksLogged" id="responsive-menu">
        <ul>
            <li><a href="#">Perfil</a></li>
            <li *ngIf="isToShowRegistrations"><a (click)="linkInitial()">Cadastros</a></li>
            <li *ngIf="isUserAdm" ><a href="#">ADM</a></li>
            <li ><a (click)="logout()">Sair</a></li>
           </ul>
    </div>
</div>
