.changePassword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width: 70vw;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


.sendDatas {
    background-color: rgb(46, 45, 45);
    border: none;
    width: 100px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .sendDatas > p {
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .sendDatas:active {
    position: relative;
    top: 2px;
  }