<header>
    <nav>
        <div  class="containerMenu">
            <app-menu-logged [isToShowRegistrations]="true"></app-menu-logged>
        </div>
  </nav>
</header>

<main>

    <div *ngIf="!isAvaibaleUpdate" class="containerVerifyEmail">
      <app-validation-email (updatePasswordAllowed)="handleUpdate($event)" [isUserRegister]="false"></app-validation-email>  
    </div>

    <div *ngIf="isAvaibaleUpdate" class="changePassword">
      <form [formGroup]="passwordForm" *ngIf="passwordForm" >

        <label for="newPassword">Nova senha</label> <br>
        <input formControlName="password" type="password" id="newPassword"> <br>

        <label for="confirmNewPassword">Confirme a senha</label> <br>
        <input formControlName="confirmPassword"  type="password" id="confirmNewPassword"> <br>
       
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
          <div  class="sendDatas">
             <p (click)="updatePassword()">Atualizar senha</p>
         </div>
        </div>
      </form>
    </div>
    
</main>
